@import url("./fonts/Bespoke/css/bespoke-serif.css");
@import url("./fonts/Switzer/css/switzer.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes tilt-bounce {
  0% {
    transform: rotate(0deg);
  }
}

.tilt-bounce {
  @apply inline-block bg-gray-200 px-2;
  animation: tilt-bounce 5s ease-in-out 1 2s;
}

a.active {
  color: red;
}

/* I wil start creating my own transitions here */
